
@import "{{ site.theme }}";

.contributor {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.contributor p {
  margin: 5px 0;
}

.contributor img {
  margin-top: 5px;
  display: block;
  border-radius: 50%;
  border: 2px solid #267CB9;
}