
@import "{{ site.theme }}";

.contributor {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.contributor p {
  margin: 3px 0;
}

.contributor img {
  margin-top: 5px;
  display: block;
  border-radius: 25%;
  border: 1px solid #267CB9;
}